@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    cursor: none; /* Hide default cursor */
    background-image: url("happy.jpg");
    background-position: 20% center;
    background-repeat: no-repeat;
    background-color: #ea1e63;
    font-family: "Great Vibes";


}
h2{
    letter-spacing: 10px;
    font-size: 35px;
    color: hsl(217, 100%, 85%);
}
.button-container {
    text-align: center;
    position: relative;
    width: 90vw;
    height: 90vh;
}
#noButton{
    background-color: hsl(217, 100%, 85%);
    border: none;
    border-radius: 3rem;
    padding: 10px 20px;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    position: absolute;
}


.heart-cursor {
    position: absolute;
    font-size: 20px;
    pointer-events: none;
    user-select: none;
}
.happyBunny{
    position: absolute;
    left: 20%;
    overflow: visible;
}